/* this is some css */

.Logo {
	margin: 20px 0px 20px 20px;
    height: 120px;
    width:auto;
}

.portal-title {
	position: relative;
	top: 33px;
	left: -30px;
	font-size: 40pt;
}

* ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.logout-options-bar ul {
	position: relative;
	border-top: 1px solid #007CC2;
	border-bottom: 1px solid #007CC2;
	text-align: right;
	margin-bottom: 20px;
}

.logout-options-bar li {
	display: inline;
}

/* 
#EE1D23 red
#F2642F orange
#FED105 yellow
#6E5200 olive
#6CB43F green
#007B85 aquamarine
#007CC2 blue
#56004E magenta
#1E358B violet
#653500 brown
#231F20 black
#6A747B grey
*/