.navbar-default {
    background-color: #cc0000;
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    padding-left: 50px;

}
.navbar-default .navbar-nav > li > a {
    color:whitesmoke;
    font-family: "Trebuchet MS";
    font-size: x-large;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: whitesmoke;
    background-color: #ac0000;


}



.navbar-default .navbar-nav  > li> a:hover,
.navbar-default .navbar-nav  > li> a:focus {
    background-color: #bc0000;

}
.Logo{
    margin-top: 20px;
    margin-left: 20px;
    height: 120px;
    width:auto;
}
.header {
    padding-top: 3px;
    padding-bottom: 10px;
}


.image {
   position: relative;
   width: 100%; /* for IE 6 */
   text-align: center;
}

.TestEvent1{
   position: absolute;
   top: 175px;
   right: 800px;
   width: 100%;
}

.TestEvent1 span{
color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin-left: 10px;
}

#header{
    background-image: url("Branding/Brock_Cairns_Cropped.jpg");
    height: 160px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#myCarousel{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#socialCarousel{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-inner .item > img{
    height: auto;
    width: auto;
    float: right;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 6px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 0px;
}
.carousel-indicators .active {
    width: 30px;
    height: 6px;
    margin: 1px;
    background-color: #fff;
}

#footer{
    background-color: #cc0000;
    height: 100px;
    width: 100%;
}
#footer > p{
    color: whitesmoke;
    font-family: "Trebuchet MS";
    margin-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
}
