#loginBody{
    background-color: #cc0000;
}
#login-title{
    color:whitesmoke;
    font-family: "Trebuchet MS";
}
img{
    height: 300px;
}
i{
    background-color: whitesmoke;
    border-radius: 100px;
    padding: 15px;
    color: #cc0000;
}
i:hover{
    color: #9d9d9d;
}
.Logo {
    margin-top: 20px;
    margin-left: 20px;
    height: 120px;
    width: auto;
}
#header > h1{

    color: #cc0000;
    font-family: "Trebuchet MS";
    font-size: 60px;
}
#header > h2{
    float: right;
    font-family: "Trebuchet MS";
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}
#name{
    color: #c00;
}
.exam >div > h3{
    display: inline-flex;
    margin: 4px;
}
.exam >div>h2{
    margin: 0px;
}
.exam{
    overflow: auto;
    border: solid  #6a747b;
    border-radius: 5px;
    height: 500px;
}
.exam-header{
    background-color: #D1D3D4;
    width: 100%;
}
.exam-body{
    padding-top: 10px;
    margin-top: 0px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

table{
    border: solid thin black;
    width: 80%;
    border-radius: 5px;
}
form{
    padding-left: 10px;
}
form > select{
    background-color: #dddddd;
}
#footer{
    border-top: solid 20px black;
    background-color: #cc0000;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
}
.footer-address> p{
    color: whitesmoke;
    font-family: "Trebuchet MS";
    padding-left: 5%;

}
#footer >div {
    padding-top: 10px;
}

#quickLinks >ul>  li{
    list-style-type: none;
    display: inline;
    color: whitesmoke;
    font-family: "Trebuchet MS";
    letter-spacing: 1px;
    font-size:15px;
}
#quickLinks >ul>  li >a{
     color: whitesmoke;
 }
#quickLinks{
    margin-bottom: 40px;
}

#quickLinks > ul > li:not(:first-child):before {
    font-weight: 100;
    content: " | ";
}



/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: "Trebuchet MS";
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: "Trebuchet MS";
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: "Trebuchet MS";
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #cc0000;
    padding: 17px 0px;
    font-family: "Trebuchet MS";
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #cc0000;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.container{
    align-content: center;
}